.myStudent {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid hsla(0, 100%, 33%, 0.959);
  text-align: center;
  transition: 0.2s;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.myStudent p {
  margin: 0;
}
body {
  background: url(../public/my\ react.webp);
}
